/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin: 0;
}

.main-nav {
	margin-top: 5px;
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}


.carousel-indicators {
    bottom: 0;
}
.carousel-indicators .active {
    background-color: #222;
}

.carousel-indicators li {
	background-color: #222;
}

.jumbotron {
	text-align: center;
	padding-bottom: 50px;
}

#myCarousel {
	width: 90%;
	margin: auto;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.name {
		float: left;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}


	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}